body {
    font-family: sans-serif;
}

h1 {
    color: blue;
    text-align: center;
    margin-bottom: 2rem;
}

div {
    color: black;
    font-weight: 600;
}

p {
    text-align: center;
    margin-bottom: 0.75rem;
}


/* see https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

.graphs-area{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.parameters-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid black 2px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: 2rem;
}

.background{
   margin: 2.5rem;

}

.parameter-select{
    padding-left: 3rem;
    padding-right: 3rem;
    display: block;
}

.parameter-select>h2{
    font-size: 20px;
}

.result-table{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2rem;
}